$font-family-sans-serif: 'Lato';

$link-hover-decoration: none;

$brand-primary:  #3498db;
$brand-success:  #92c03d;
//$brand-info:   ;
$brand-warning:  #ffc413;
//$brand-danger: #d9534f !default;


$input-border: #DDD;


$input-group-addon-bg: transparent;
