.contractor-list {
  //@extend .table;
  //@extend .table-striped;
  margin-top: 20px;
  width: 100%;
  border: 1px solid $gray;
  border-radius: 6px;
  th,
  td {
    padding: 10px;
  }
  th {
    color: $brand-primary;
  }
  tr {
    border: 1px solid $gray;
    &:nth-child(2) {
      background-color: $gray-lighter; //Grey 1
    }
  }
}
.contractor-status {
  text-align: center;
}
.contractor-status__recieved,
.contractor-status__not-recieved,
.contractor-status__pending {
  @extend .contractor-status;
  @extend .icon-block;
  font-size: .8em;

  &:before {
    font-size: 2em;
  }
}
.contractor-status__recieved {
  @extend .icon-check-circle;
  color: $brand-success;
}
.contractor-status__not-recieved {
  @extend .icon-clock;
  color: $gray-darker;
}
.contractor-status__pending {
  @extend .icon-clock;
  color: $brand-warning;
}
.contractor-status__sent,
.contractor-status__not-sent {

}
.contractor-status__sent {

}
.contractor-status__not-sent {

}
