.footer {
  color: $gray-darker;
}
.footer-links {
  @include inline-list();
  @extend .pull-right;
  text-align: right;

  a {
    color: inherit;

    &:before {
      @extend .glyphicon;
      @extend .glyphicon-envelope;
    }
  }
}
.footer-copyright {
  text-align: center;
}
