.section {
  padding: 20px;

  &:nth-child(even) {
    background-color: #DDD;
  }
}

.hero-section,
.steps-section,
.pricing-section,
.questions-section {
  @extend .section;
}

.section-header {
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.4em;
}
